body {
    background-color: hsl(257, 40%, 49%);
    background-image: url("./assets/bg-desktop.svg");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}

.logo{
    margin: 50px 0 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 100px 1fr 1fr;
    height: 100%;
}
.illustration {
    grid-column: 1 / span 3;
    padding-right: 100px;
}
.illustration img {
    width: 100%;
}
.aside{
    grid-column: 4 / span 2;
    margin-top: 50px;
    padding-right: 50px;
}
h1 {
    margin-bottom: 50px;
}
p{
    margin-bottom: 65px;
}
.social{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
    margin-right: 50px;
}
.social a {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: white;
    width: 50px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 8px;
    margin-left: 50px;
}
.aside a:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
}
.social a:hover{
    color:hsl(300, 69%, 71%);
    border: 2px solid hsl(300, 69%, 71%)
}